In [3]:
import pandas as pd
import numpy as np

In [4]:
# read in merged csv
merge = pd.read_csv('merged_files.csv')
merge.head()

,Unnamed: 0,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,...,bowler,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed
0,0,211028,2005,2005-06-13,The Rose Bowl,1,0.1,England,Australia,ME Trescothick,...,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,211028,2005,2005-06-13,The Rose Bowl,1,0.2,England,Australia,ME Trescothick,...,B Lee,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,211028,2005,2005-06-13,The Rose Bowl,1,0.3,England,Australia,GO Jones,...,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,211028,2005,2005-06-13,The Rose Bowl,1,0.4,England,Australia,GO Jones,...,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,211028,2005,2005-06-13,The Rose Bowl,1,0.5,England,Australia,GO Jones,...,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#merge.columns
merge['batting_team'].unique()

array(['England', 'Australia', 'New Zealand', 'South Africa', 'Pakistan',
       'Sri Lanka', 'West Indies', 'India', 'Kenya', 'Scotland',
       'Zimbabwe', 'Bangladesh', 'Bermuda', 'Netherlands', 'Ireland',
       'Afghanistan', 'Canada', 'Nepal', 'Hong Kong',
       'United Arab Emirates', 'Papua New Guinea', 'Oman', 'ICC World XI',
       'Philippines', 'Vanuatu', 'United States of America', 'Germany',
       'Italy', 'Ghana', 'Namibia', 'Uganda', 'Botswana', 'Nigeria',
       'Guernsey', 'Denmark', 'Norway', 'Jersey', 'Thailand', 'Malaysia',
       'Maldives', 'Singapore', 'Qatar', 'Kuwait', 'Cayman Islands',
       'Portugal', 'Spain', 'Gibraltar', 'Bhutan', 'Saudi Arabia',
       'Bahrain', 'Iran', 'Belgium', 'Luxembourg', 'Czech Republic',
       'Isle of Man', 'Bulgaria', 'Romania', 'Austria', 'Greece',
       'Serbia', 'Malta', 'France', 'Sweden', 'Rwanda', 'Finland',
       'Hungary', 'Estonia', 'Cyprus', 'Switzerland', 'Seychelles',
       'Malawi', 'Lesotho', 'Swaziland', 'Sierra Leone', 'Tanzania',
       'Mozambique', 'Cameroon', 'Belize', 'Bahamas', 'Argentina',
       'Panama', 'Israel', 'Turkey', 'Croatia', 'Slovenia',
       'Cook Islands', 'Fiji', 'Samoa', 'Japan', 'Indonesia',
       'South Korea', 'Mali', 'St Helena', 'Gambia', 'Eswatini', 'China',
       'Myanmar', 'Mongolia', 'Chile', 'Mexico', 'Cambodia'], dtype=object)

In [6]:
# read in list of players 
players = pd.read_csv('players.csv')
players['runs/ball'] = pd.Series(dtype='float')
players.head()

Empty DataFrame
Columns: [name, position, country, runs/ball]
Index: []

In [7]:
# index through to get only rows that match text file
# here, we get only plays from teams participating in the 2024 World Cup

with open('teams.txt') as file:
    teams_list = file.read().splitlines()
df = merge.loc[(merge['bowling_team'].isin(teams_list)) | (merge['batting_team'].isin(teams_list))]
print(df, df.shape)

        Unnamed: 0  match_id   season  start_date                    venue  \
0                0    211028     2005  2005-06-13            The Rose Bowl
1                1    211028     2005  2005-06-13            The Rose Bowl
2                2    211028     2005  2005-06-13            The Rose Bowl
3                3    211028     2005  2005-06-13            The Rose Bowl
4                4    211028     2005  2005-06-13            The Rose Bowl
...            ...       ...      ...         ...                      ...
477264         231   1412551  2023/24  2024-01-02  Sharjah Cricket Stadium
477265         232   1412551  2023/24  2024-01-02  Sharjah Cricket Stadium
477266         233   1412551  2023/24  2024-01-02  Sharjah Cricket Stadium
477267         234   1412551  2023/24  2024-01-02  Sharjah Cricket Stadium
477268         235   1412551  2023/24  2024-01-02  Sharjah Cricket Stadium

        innings  ball batting_team          bowling_team             striker  \
0             1   0.1      England             Australia      ME Trescothick
1             1   0.2      England             Australia      ME Trescothick
2             1   0.3      England             Australia            GO Jones
3             1   0.4      England             Australia            GO Jones
4             1   0.5      England             Australia            GO Jones
...         ...   ...          ...                   ...                 ...
477264        2  17.5  Afghanistan  United Arab Emirates   Najibullah Zadran
477265        2  17.6  Afghanistan  United Arab Emirates  Sharafuddin Ashraf
477266        2  18.1  Afghanistan  United Arab Emirates   Najibullah Zadran
477267        2  18.2  Afghanistan  United Arab Emirates   Najibullah Zadran
477268        2  18.3  Afghanistan  United Arab Emirates   Najibullah Zadran

        ...           bowler runs_off_bat  extras  wides  noballs  byes  \
0       ...            B Lee            0       0    NaN      NaN   NaN
1       ...            B Lee            1       0    NaN      NaN   NaN
2       ...            B Lee            0       0    NaN      NaN   NaN
3       ...            B Lee            0       0    NaN      NaN   NaN
4       ...            B Lee            0       0    NaN      NaN   NaN
...     ...              ...          ...     ...    ...      ...   ...
477264  ...       Ali Naseer            1       0    NaN      NaN   NaN
477265  ...       Ali Naseer            0       0    NaN      NaN   NaN
477266  ...  Junaid Siddique            2       0    NaN      NaN   NaN
477267  ...  Junaid Siddique            6       0    NaN      NaN   NaN
477268  ...  Junaid Siddique            6       0    NaN      NaN   NaN

        legbyes  penalty  wicket_type player_dismissed
0           NaN      NaN          NaN              NaN
1           NaN      NaN          NaN              NaN
2           NaN      NaN          NaN              NaN
3           NaN      NaN          NaN              NaN
4           NaN      NaN          NaN              NaN
...         ...      ...          ...              ...
477264      NaN      NaN          NaN              NaN
477265      NaN      NaN          NaN              NaN
477266      NaN      NaN          NaN              NaN
477267      NaN      NaN          NaN              NaN
477268      NaN      NaN          NaN              NaN

[335568 rows x 21 columns] (335568, 21)

In [8]:
# we will use only data from 2020 onward (last 4 years)
df[['start-year', 'start-day', 'start-month']] = df['start_date'].str.split('-', expand=True)
df = df.loc[df['start-year'].astype(int) >= 2020]
df = df.drop(['start-year', 'start-day', 'start-month'], axis=1)
df.head()

/tmp/ipykernel_16914/1799610375.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['start-year', 'start-day', 'start-month']] = df['start_date'].str.split('-', expand=True)
/tmp/ipykernel_16914/1799610375.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['start-year', 'start-day', 'start-month']] = df['start_date'].str.split('-', expand=True)
/tmp/ipykernel_16914/1799610375.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['start-year', 'start-day', 'start-month']] = df['start_date'].str.split('-', expand=True)

,Unnamed: 0,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,...,bowler,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed
169922,0,1185313,2019/20,2020-02-12,Buffalo Park,1,0.1,South Africa,England,T Bavuma,...,MM Ali,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169923,1,1185313,2019/20,2020-02-12,Buffalo Park,1,0.2,South Africa,England,Q de Kock,...,MM Ali,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169924,2,1185313,2019/20,2020-02-12,Buffalo Park,1,0.3,South Africa,England,T Bavuma,...,MM Ali,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169925,3,1185313,2019/20,2020-02-12,Buffalo Park,1,0.4,South Africa,England,Q de Kock,...,MM Ali,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169926,4,1185313,2019/20,2020-02-12,Buffalo Park,1,0.5,South Africa,England,Q de Kock,...,MM Ali,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Calculate Stats

In [13]:
# TODO: loop through df to calculate runs/ball for all bowlers and hitters/strikers
# Here, looking at games from all countries
_df = (merge
       .loc[:, ['striker', 'runs_off_bat', 'extras']]
       .groupby(['striker'], as_index = False)
       .sum())
_df = _df.sort_values(by='runs_off_bat', ascending=False)

In [19]:
num_bowls = (merge
       .loc[:, ['striker', 'bowling_team', 'batting_team']]
       .groupby(['striker', 'batting_team'], as_index = False)
       .count()
       .rename(columns = {'bowling_team' : 'n_bowls'}))

df2 = _df.merge(num_bowls, on = ['striker'])

In [20]:
df2['runs_per_bowl'] = (df2['runs_off_bat'] + df2['extras']) / df2['n_bowls']
df2['weighted_runs_per_bowl'] = df2['runs_per_bowl'] * df2['n_bowls']
df2.sort_values(by = 'weighted_runs_per_bowl', ascending = False)

,striker,runs_off_bat,extras,batting_team,n_bowls,runs_per_bowl,weighted_runs_per_bowl
0,V Kohli,4043,166,India,3010,1.398339,4209.0
1,RG Sharma,4013,172,India,2923,1.431748,4185.0
2,Babar Azam,3698,137,Pakistan,2943,1.303092,3835.0
3,MJ Guptill,3545,186,New Zealand,2696,1.383902,3731.0
4,PR Stirling,3357,139,Ireland,2520,1.387302,3496.0
...,...,...,...,...,...,...,...
3150,J Edness,0,0,Bermuda,1,0.000000,0.0
3151,JJ Celestine,0,0,Bermuda,1,0.000000,0.0
3153,GF Gomes,0,0,Mozambique,1,0.000000,0.0
3154,Muhammad Jabir,0,0,Qatar,1,0.000000,0.0
3155,Z Makadji,0,0,Mali,1,0.000000,0.0

In [33]:
us = df2[df2['batting_team'] == 'United States of America']
us.sort_values(by = 'weighted_runs_per_bowl', ascending = False)

,striker,runs_off_bat,extras,batting_team,n_bowls,runs_per_bowl,weighted_runs_per_bowl
166,NS Dhaliwal,824,23,Canada,610,1.388525,847.0
246,A Johnson,589,25,Canada,353,1.739377,614.0
289,Ravinderpal Singh,519,37,Canada,359,1.548747,556.0
354,NR Kumar,434,25,Canada,349,1.315186,459.0
403,R Pathan,373,25,Canada,235,1.693617,398.0
555,M Spoors,269,12,Canada,231,1.216450,281.0
586,D Heyliger,256,9,Canada,145,1.827586,265.0
604,SA Wijeratne,245,17,Canada,198,1.323232,262.0
610,H Thaker,240,12,Canada,196,1.285714,252.0
633,Pargat Singh,225,10,Canada,212,1.108491,235.0
686,R Gunasekera,202,29,Canada,196,1.178571,231.0
672,Hamza Tariq,207,8,Canada,151,1.423841,215.0
738,H Patel,183,21,Canada,211,0.966825,204.0
732,Saad Bin Zafar,186,10,Canada,139,1.410072,196.0
771,NR Kirton,173,5,Canada,151,1.178808,178.0
801,A Bagai,165,4,Canada,157,1.076433,169.0
881,Rizwan Cheema,142,12,Canada,135,1.140741,154.0
1197,AS Hansra,82,5,Canada,86,1.011628,87.0
1207,N Dutta,80,5,Canada,53,1.603774,85.0
1270,RA Thomas,72,5,Canada,93,0.827957,77.0
1326,GEF Barnett,66,6,Canada,49,1.469388,72.0
1328,Abraash Khan,66,0,Canada,60,1.100000,66.0
1479,Usman Limbada,53,4,Canada,43,1.325581,57.0
1486,HS Baidwan,52,1,Canada,44,1.204545,53.0
1501,Junaid Siddiqui,51,2,Canada,47,1.127660,53.0
1500,IS Billcliff,51,1,Canada,39,1.333333,52.0
1631,S Movva,41,2,Canada,41,1.048780,43.0
1808,TG Gordon,32,2,Canada,37,0.918919,34.0
1866,H Osinde,28,6,Canada,27,1.259259,34.0
1939,RA Bhatti,25,6,Canada,40,0.775000,31.0
1949,Raza-ur-Rehman,25,0,Canada,29,0.862069,25.0
2102,U Bhatti,19,0,Canada,14,1.357143,19.0
2432,Khurram Chohan,10,1,Canada,10,1.100000,11.0
2413,Salman Nazar,10,0,Canada,9,1.111111,10.0
2444,A Kapoor,9,0,Canada,4,2.250000,9.0
2650,S Dhaniram,5,0,Canada,8,0.625000,5.0
2732,PA Desai,4,1,Canada,7,0.714286,5.0
2727,JOA Gordon,4,0,Canada,8,0.500000,4.0
2833,Zahid Hussain,3,1,Canada,8,0.500000,4.0
2769,Kaleem Sana,3,0,Canada,11,0.272727,3.0
2817,DS Bajwa,3,0,Canada,7,0.428571,3.0
2979,MR Montfort,1,1,Canada,2,1.000000,2.0
2937,GDR Eranga,1,0,Canada,1,1.000000,1.0
2945,AS Dean,1,0,Canada,1,1.000000,1.0
3065,JM Davison,0,0,Canada,4,0.000000,0.0
3111,MS Aulakh,0,0,Canada,2,0.000000,0.0

In [42]:
# pak = df.loc[df['batting_team'] == 'Pakistan']
# pak['striker'].unique()

array(['Babar Azam', 'Fakhar Zaman', 'Mohammad Hafeez', 'Shoaib Malik',
       'Iftikhar Ahmed', 'Haider Ali', 'Shadab Khan', 'Imad Wasim',
       'Ahsan Ali', 'Mohammad Rizwan', 'Khushdil Shah',
       'Abdullah Shafique', 'Faheem Ashraf', 'Wahab Riaz',
       'Shaheen Shah Afridi', 'Haris Rauf', 'Sohaib Maqsood', 'Azam Khan',
       'Mohammad Hasnain', 'Hasan Ali', 'Hussain Talat',
       'Mohammad Nawaz (3)', 'Usman Qadir', 'Asif Ali', 'Sharjeel Khan',
       'Danish Aziz', 'Arshad Iqbal', 'Mohammad Wasim', 'Mohammad Nawaz',
       'Sarfraz Ahmed', 'Shan Masood', 'Mohammad Haris', 'Naseem Shah',
       'Aamer Jamal', 'Shahnawaz Dhani', 'Saim Ayub', 'Zaman Khan',
       'Tayyab Tahir', 'Ihsanullah', 'Usama Mir', 'Abbas Afridi',
       'Sahibzada Farhan', 'Haseebullah Khan', 'Omair Yousuf',
       'Mirza Baig', 'Rohail Nazir', 'Qasim Akram', 'Arafat Minhas',
       'Sufiyan Muqeem'], dtype=object)