### Setup and Preprocessing

In [1]:
import pandas as pd
import numpy as np
import random as rand
import math

In [2]:
# Read in merged CSV file
merge = pd.read_csv('merged_files.csv')
print(merge.columns)
print(merge['batting_team'].unique())
merge.head()

Index(['Unnamed: 0', 'match_id', 'season', 'start_date', 'venue', 'innings',
       'ball', 'batting_team', 'bowling_team', 'striker', 'non_striker',
       'bowler', 'runs_off_bat', 'extras', 'wides', 'noballs', 'byes',
       'legbyes', 'penalty', 'wicket_type', 'player_dismissed'],
      dtype='object')
['England' 'Australia' 'New Zealand' 'South Africa' 'Pakistan' 'Sri Lanka'
 'West Indies' 'India' 'Kenya' 'Scotland' 'Zimbabwe' 'Bangladesh'
 'Bermuda' 'Netherlands' 'Ireland' 'Afghanistan' 'Canada' 'Nepal'
 'Hong Kong' 'United Arab Emirates' 'Papua New Guinea' 'Oman'
 'ICC World XI' 'Philippines' 'Vanuatu' 'United States of America'
 'Germany' 'Italy' 'Ghana' 'Namibia' 'Uganda' 'Botswana' 'Nigeria'
 'Guernsey' 'Denmark' 'Norway' 'Jersey' 'Thailand' 'Malaysia' 'Maldives'
 'Singapore' 'Qatar' 'Kuwait' 'Cayman Islands' 'Portugal' 'Spain'
 'Gibraltar' 'Bhutan' 'Saudi Arabia' 'Bahrain' 'Iran' 'Belgium'
 'Luxembourg' 'Czech Republic' 'Isle of Man' 'Bulgaria' 'Romania'
 'Austria' 'Greece' 'Serbia' 'Malta' 'France' 'Sweden' 'Rwanda' 'Finland'
 'Hungary' 'Estonia' 'Cyprus' 'Switzerland' 'Seychelles' 'Malawi'
 'Lesotho' 'Swaziland' 'Sierra Leone' 'Tanzania' 'Mozambique' 'Cameroon'
 'Belize' 'Bahamas' 'Argentina' 'Panama' 'Israel' 'Turkey' 'Croatia'
 'Slovenia' 'Cook Islands' 'Fiji' 'Samoa' 'Japan' 'Indonesia'
 'South Korea' 'Mali' 'St Helena' 'Gambia' 'Eswatini' 'China' 'Myanmar'
 'Mongolia' 'Chile' 'Mexico' 'Cambodia']

,Unnamed: 0,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,...,bowler,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed
0,0,211028,2005,2005-06-13,The Rose Bowl,1,0.1,England,Australia,ME Trescothick,...,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,211028,2005,2005-06-13,The Rose Bowl,1,0.2,England,Australia,ME Trescothick,...,B Lee,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,211028,2005,2005-06-13,The Rose Bowl,1,0.3,England,Australia,GO Jones,...,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,211028,2005,2005-06-13,The Rose Bowl,1,0.4,England,Australia,GO Jones,...,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,211028,2005,2005-06-13,The Rose Bowl,1,0.5,England,Australia,GO Jones,...,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# We will use only data from the last 4 years (2020-2024)
merge[['start-year', 'start-day', 'start-month']] = merge['start_date'].str.split('-', expand=True)
recent = merge.loc[merge['start-year'].astype(int) >= 2020]
merge = merge.drop(['start-year', 'start-day', 'start-month'], axis=1)
print(recent.shape)
recent.head()

(285767, 24)

,Unnamed: 0,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,start-year,start-day,start-month
169922,0,1185313,2019/20,2020-02-12,Buffalo Park,1,0.1,South Africa,England,T Bavuma,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,02,12
169923,1,1185313,2019/20,2020-02-12,Buffalo Park,1,0.2,South Africa,England,Q de Kock,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,02,12
169924,2,1185313,2019/20,2020-02-12,Buffalo Park,1,0.3,South Africa,England,T Bavuma,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,02,12
169925,3,1185313,2019/20,2020-02-12,Buffalo Park,1,0.4,South Africa,England,Q de Kock,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,02,12
169926,4,1185313,2019/20,2020-02-12,Buffalo Park,1,0.5,South Africa,England,Q de Kock,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,02,12

In [4]:
# Create dataframe of matches only from teams participating in the 2024 World Cup
with open('teams.txt') as file:
    teams_list = file.read().splitlines()
wc20=recent.loc[(recent['bowling_team'].isin(teams_list)) | (recent['batting_team'].isin(teams_list))]
print(wc20.shape)
wc20.head()

(147566, 24)

,Unnamed: 0,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,start-year,start-day,start-month
169922,0,1185313,2019/20,2020-02-12,Buffalo Park,1,0.1,South Africa,England,T Bavuma,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,02,12
169923,1,1185313,2019/20,2020-02-12,Buffalo Park,1,0.2,South Africa,England,Q de Kock,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,02,12
169924,2,1185313,2019/20,2020-02-12,Buffalo Park,1,0.3,South Africa,England,T Bavuma,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,02,12
169925,3,1185313,2019/20,2020-02-12,Buffalo Park,1,0.4,South Africa,England,Q de Kock,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,02,12
169926,4,1185313,2019/20,2020-02-12,Buffalo Park,1,0.5,South Africa,England,Q de Kock,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,02,12

In [5]:
# How many unique teams are there in wc20 competition with World Cup teams?
# team_list = pd.unique(wc20[['batting_team', 'bowling_team']].values.ravel('K'))
# for team in team_list:
#    print(f"\"{team}\"",":",",")

In [6]:
#ICC T20 rating for all teams who have played against or are a World Cup team
team_rating = {
    "South Africa" : 249,
    "England" : 256,
    "Australia" : 255,
    "New Zealand" : 254,
    "India" : 266,
    "Pakistan" : 249,
    "Sri Lanka" : 234,
    "Ireland" : 194,
    "West Indies" : 245,
    "Bangladesh" : 227,
    "Zimbabwe" : 193,
    "Maldives" : 3,
    "Oman" : 154,
    "Afghanistan" : 218,
    "Hong Kong" : 139,
    "Nepal" : 175,
    "Thailand" : 0,
    "Uganda" : 132,
    "Namibia" : 196,
    "Netherlands" : 183,
    "Malaysia" : 125,
    "Scotland" : 190,
    "Papua New Guinea" : 143,
    "Nigeria" : 75,
    "Kenya" : 107,
    "United Arab Emirates" : 174,
    "Malawi" : 36,
    "Rwanda" : 32,
    "Lesotho" : 9,
    "Swaziland" : 0,
    "Ghana" : 31,
    "Seychelles" : 0,
    "Belize" : 22,
    "United States of America" : 131,
    "Canada" : 140,
    "Bermuda" : 107,
    "Argentina" : 39,
    "Bahamas" : 24,
    "Panama" : 19,
    "Tanzania" : 93,
    "Philippines" : 41,
    "Bahrain" : 115,
    "Germany" : 92,
    "Jersey" : 128,
    "Singapore" : 76,
    "Botswana" : 53,
    "Mozambique" : 36,
    "Saudi Arabia" : 104,
    "Italy" : 101,
    "Denmark" : 71,
    "Austria" : 58,
    "Vanuatu" : 60,
    "Japan" : 49,
    "Kuwait" : 118,
    "Mongolia" : 0, 
    "Cayman Islands" : 72,
}

In [7]:
group_A = teams_list[0:5]
group_B = teams_list[5:10]
group_C = teams_list[10:15]
group_D = teams_list[15:20]

In [8]:
%%capture
# Store level of each team in dictionary
# Based on ICC T20 rankings
# Not used for now
"""
tier_list = {
    "India" : 5,
    "England" : 5,
    "Australia" : 5,
    "New Zealand" : 5,
    "Pakistan" : 4,
    "South Africa" : 4,
    "West Indies" : 3,
    "Sri Lanka" : 3,
    "Bangladesh" : 3,
    "Afghanistan" : 3,
    "Namibia" : 2,
    "Ireland" : 2,
    "Scotland" : 2,
    "Netherlands" : 2,
    "Nepal" : 1,
    "Oman" : 1,
    "Papua New Guinea" : 1,
    "Canada" : 0,
    "Uganda" : 0,
    "United States of America" : 0
}
"""

### Calculate Stats

In [56]:
team_ratings_mapped = wc20['bowling_team'].map(team_rating)
wc20['adj_runs_off_bat'] = wc20['runs_off_bat'] * (team_ratings_mapped / 266)

wc20['adjusted_team_ratings2'] = team_ratings_mapped2
wc20.loc[wc20['adjusted_team_ratings2'] < 50, 'adjusted_team_ratings'] = 50
wc20['adj_conceded_runs_off_bat'] = wc20['runs_off_bat'] * ( 266 / team_ratings_mapped2)

/var/folders/5z/s5qlt2g95tj4d40cy5ll0pm40000gn/T/ipykernel_56505/3813148325.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wc20['adj_runs_off_bat'] = wc20['runs_off_bat'] * (team_ratings_mapped / 266)
/var/folders/5z/s5qlt2g95tj4d40cy5ll0pm40000gn/T/ipykernel_56505/3813148325.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wc20['adjusted_team_ratings2'] = team_ratings_mapped2
/var/folders/5z/s5qlt2g95tj4d40cy5ll0pm40000gn/T/ipykernel_56505/3813148325.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wc20.loc[wc20['adjusted_team_ratings2'] < 50, 'adjusted_team_ratings'] = 50
/var/folders/5z/s5qlt2g95tj4d40cy5ll0pm40000gn/T/ipykernel_56505/3813148325.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wc20['adj_conceded_runs_off_bat'] = wc20['runs_off_bat'] * ( 266 / team_ratings_mapped2)

In [46]:
#checks out
df = (wc20
       .loc[:, ['striker', 'adj_runs_off_bat', 'batting_team']]
       .groupby(['striker', 'batting_team'], as_index = False)
       .sum())
df_sorted = df.sort_values(by='adj_runs_off_bat', ascending=False)
print(df_sorted.head())

             striker batting_team  adj_runs_off_bat
730  Mohammad Rizwan     Pakistan       2522.421053
186       Babar Azam     Pakistan       2069.703008
979         SA Yadav        India       1935.890977
491       JC Buttler      England       1561.943609
365      GD Phillips  New Zealand       1505.657895

In [47]:
num_bowls = (wc20
       .loc[:, ['striker', 'bowling_team', 'batting_team']]
       .groupby(['striker', 'batting_team'], as_index = False)
       .count()
       .rename(columns = {'bowling_team' : 'n_bowls'})
        )
dfA = df_sorted.merge(num_bowls, on = ['striker', 'batting_team'])
dfA = dfA.sort_values(by = 'adj_runs_off_bat', ascending = False)
print(dfA)

              striker batting_team  adj_runs_off_bat  n_bowls
0     Mohammad Rizwan     Pakistan       2522.421053     2220
1          Babar Azam     Pakistan       2069.703008     1808
2            SA Yadav        India       1935.890977     1296
3          JC Buttler      England       1561.943609     1143
4         GD Phillips  New Zealand       1505.657895     1155
...               ...          ...               ...      ...
1151    Rizwan Haider     Malaysia          0.000000        1
1150    Garret Banner       Belize          0.000000        3
1149    Muhammad Khan    Hong Kong          0.000000       12
1148        H Fennell    Argentina          0.000000        1
1218         R Mondol   Bangladesh          0.000000        7

[1219 rows x 4 columns]

In [48]:
# check numbers for V Kohli
print(df_sorted[df_sorted['striker'] == 'V Kohli'])
print(dfA[dfA['striker'] == 'V Kohli'])

      striker batting_team  adj_runs_off_bat
1154  V Kohli        India       1261.804511
   striker batting_team  adj_runs_off_bat  n_bowls
7  V Kohli        India       1261.804511     1050

In [50]:
# Calculate runs per bowl for strikers (extras not included)
# probably better to include extras in conceded runs for bowlers
dfA['adj_runs_per_bowl'] = (dfA['adj_runs_off_bat'] / dfA['n_bowls'])
dfA = dfA.sort_values(by = 'adj_runs_per_bowl', ascending = False)
dfA.head(10)

,striker,batting_team,adj_runs_off_bat,n_bowls,adj_runs_per_bowl
642,Shahnawaz Dhani,Pakistan,16.000000,6,2.666667
872,Umran Malik,India,4.699248,2,2.349624
878,Mukesh Kumar,India,4.605263,2,2.302632
623,Rakibul Hasan,Bangladesh,17.744361,8,2.218045
770,AM Fernando,Sri Lanka,8.533835,4,2.133459
984,Aziz Sualley,Ghana,1.984962,1,1.984962
992,CB Sole,Scotland,1.909774,1,1.909774
791,Aminul Islam Biplob,Bangladesh,7.488722,4,1.872180
691,SC Kuggeleijn,New Zealand,13.105263,7,1.872180
909,W Barresi,Netherlands,3.684211,2,1.842105

In [59]:
# Calculate runs conceded per bowl for bowlers (extras included)
df = (wc20
       .loc[:, ['bowler', 'bowling_team', 'adj_conceded_runs_off_bat', 'extras']]
       .groupby(['bowler', 'bowling_team'], as_index = False)
       .sum())
df_sorted = df.sort_values(by='adj_conceded_runs_off_bat', ascending=False)
df_sorted.head()

              bowler bowling_team  adj_conceded_runs_off_bat  extras
849  Zeeshan Maqsood         Oman                2706.274753      12
124       Bilal Khan         Oman                2503.244489      38
40        AR Ramjani       Uganda                2244.036409      27
385         K Waiswa       Uganda                2141.823521      49
481         MR Adair      Ireland                2127.586761     134

In [60]:
num_bowls = (wc20
       .loc[:, ['bowler', 'bowling_team', 'batting_team']]
       .groupby(['bowler', 'bowling_team'], as_index = False)
       .count()
       .rename(columns = {'batting_team' : 'n_bowls'})
        )
dfB = df_sorted.merge(num_bowls, on = ['bowler', 'bowling_team'])
dfB = dfB.sort_values(by = 'adj_conceded_runs_off_bat', ascending = False)
print(dfB)

              bowler bowling_team  adj_conceded_runs_off_bat  extras  n_bowls
0    Zeeshan Maqsood         Oman                2706.274753      12      424
1         Bilal Khan         Oman                2503.244489      38      648
2         AR Ramjani       Uganda                2244.036409      27      601
3           K Waiswa       Uganda                2141.823521      49      540
4           MR Adair      Ireland                2127.586761     134     1277
..               ...          ...                        ...     ...      ...
845         P Khadka        Nepal                        NaN       1       25
846       R Agamiire       Uganda                        NaN       7       37
847  Riazat Ali Shah       Uganda                        NaN      72      661
848     S Lamichhane        Nepal                        NaN      58      738
849      Sompal Kami        Nepal                        NaN      60      589

[850 rows x 5 columns]

In [61]:
dfB['adj_runs_conceded_per_bowl'] = ((dfB['adj_conceded_runs_off_bat'] + dfB['extras']) / dfB['n_bowls'])
dfB = dfB.sort_values(by = 'adj_conceded_runs_off_bat', ascending = False)
dfB.head(10)

,bowler,bowling_team,adj_conceded_runs_off_bat,extras,n_bowls,adj_runs_conceded_per_bowl
0,Zeeshan Maqsood,Oman,2706.274753,12,424,6.411025
1,Bilal Khan,Oman,2503.244489,38,648,3.921674
2,AR Ramjani,Uganda,2244.036409,27,601,3.778763
3,K Waiswa,Uganda,2141.823521,49,540,4.057081
4,MR Adair,Ireland,2127.586761,134,1277,1.771015
5,Haris Rauf,Pakistan,2105.100956,114,1483,1.496359
6,IS Sodhi,New Zealand,2067.358027,86,1502,1.433660
7,S Nsubuga,Uganda,1914.364606,7,257,7.476127
8,J Little,Ireland,1878.203676,110,1197,1.660989
9,Mohammad Nadeem,Oman,1834.257202,25,249,7.466896

In [62]:
players = pd.read_csv('players.csv')

# Add runs per bowl values to players.csv 
# Only RPB values for hitters and all_rounders will be used
players = players.merge(dfA[['striker', 'adj_runs_per_bowl']], how='left', left_on='name',right_on='striker')
players = players.drop(columns = ['striker'])

# Add runs conceded per bowl values to players.csv 
# Only RCPB values for bowlers and all_rounders will be used
players = players.merge(dfB[['bowler', 'adj_runs_conceded_per_bowl']], how='left', left_on='name',right_on='bowler')
players = players.drop(columns = ['bowler'])

players.head(7)

,name,position,country,adj_runs_per_bowl,adj_runs_conceded_per_bowl
0,Pargat Singh,hitter,Canada,0.381827,3.295069
1,NR Kirton,hitter,Canada,0.435024,7.872274
2,NS Dhaliwal,hitter,Canada,0.378526,14.104895
3,Saad Bin Zafar,all_rounder,Canada,0.571145,3.523441
4,N Dutta,bowler,Canada,0.694400,2.522747
5,Kaleem Sana,bowler,Canada,0.132946,2.553060
6,JOA Gordon,bowler,Canada,0.201128,3.262785

In [63]:
%%capture
# Potential issue for players listed under the same name:
# runs_off_bat (+ extras) grouped together for all players,
# but separated by country, resulting in faulty numbers
# should not affect any of our selected players

"""
khan = df2.loc[df2['striker']=='Shoaib Khan']
print(khan)
goud = df2.loc[df2['striker']=='Sandeep Goud']
print(goud)
goud = df2B.loc[df2B['bowler']=='Sandeep Goud']
print(goud)
"""

### Run Simulations

In [64]:
bowlers = players[((players['position'] == 'bowler') | (players['position'] == 'all_rounder'))]
hitters = players[((players['position'] == 'hitter') | (players['position'] == 'all_rounder'))]

# Remove players for which there is no data (one US bowler)
bowlers = bowlers.dropna(subset=['adj_runs_conceded_per_bowl'])
hitters = hitters.dropna(subset=['adj_runs_per_bowl'])

print(bowlers.shape)
print(hitters.shape)

(73, 5)
(80, 5)

In [65]:
# How we determine which score to use determines our results! 
# The distribution of RPB and RPCB could be decided on a per-match basis 
# if there is enough data for a player

def get_runs(rpb, rcpb):
    return rand.uniform(rpb,rcpb)

In [66]:
def run_match(country1, country2, print_score=False):
    
    #make a vector for each team's batters/bowlers 
    bowlers1 = bowlers.loc[bowlers['country'] == country1]
    bowlers1 = bowlers1['name'].to_numpy()

    bowlers2 = bowlers.loc[bowlers['country'] == country2]
    bowlers2 = bowlers2['name'].to_numpy()

    hitters1 = hitters.loc[hitters['country'] == country1]
    hitters1 = hitters1['name'].to_numpy()

    hitters2 = hitters.loc[hitters['country'] == country2]
    hitters2 = hitters2['name'].to_numpy()

    #base scores
    country1_score = 0.0
    country2_score = 0.0 
    
    # 2 x 4 hitters x 4 bowlers x 6 bowls
    # 192 total bowls (except for US)

    #first team score:
    for hitter in hitters1:
        for bowler in bowlers2:
            for x in range(6):
                rpb = (players.loc[players['name'] == hitter, 'adj_runs_per_bowl'].values)[0]
                rcpb = (players.loc[players['name'] == bowler, 'adj_runs_conceded_per_bowl'].values)[0]
                country1_score += get_runs(rpb, rcpb)
              
    
    #second team score:
    for hitter in hitters2:
        for bowler in bowlers1:
            for x in range(6):
                rpb = (players.loc[players['name'] == hitter, 'adj_runs_per_bowl'].values)[0]
                rcpb = (players.loc[players['name'] == bowler, 'adj_runs_conceded_per_bowl'].values)[0]
                country2_score += get_runs(rpb, rcpb)

# Adjust scores in case of US
    if (country1 == "United States of America"):
        country1_score = country1_score*(3/4)
    elif (country2 == "United States of America"):
        country2_score = country2_score*(3/4)
    
    if(print_score):
        print(country1, "score:", country1_score)
        print(country2, "score:", country2_score)

    if country1_score > country2_score:
        return country1
    elif country1_score < country2_score:
        return country2
    else:
        return 'tie'

In [71]:
# Change these to try a different matchup!
teamA = 'India'
teamB = 'Australia'

# One match simulated with each function call
# Add 'True' to run_match to print scores
winner = run_match(teamA, teamB)
print("Winner:", winner)

Winner: India

In [72]:
# Run this to simulate many matches for a given pair
num_iterations = 200
A = 0
for i in range(num_iterations):
    if(run_match(teamA,teamB,True)==teamA):
        A+=1
print("Proportion that", teamA, "won:",A/num_iterations)

India score: 128.72196987291247
Australia score: 125.98582155270411
India score: 129.44847026942782
Australia score: 125.1526296938788
India score: 129.2465478014586
Australia score: 126.52853245483136
India score: 128.52212251663735
Australia score: 125.21343524844734
India score: 128.94417332189676
Australia score: 125.9920839754067
India score: 128.9113147006774
Australia score: 126.16345270647743
India score: 128.88018420954805
Australia score: 125.07863553619836
India score: 129.09486651351602
Australia score: 125.44959770142864
India score: 130.33519686184533
Australia score: 126.52294238265017
India score: 128.57675169571502
Australia score: 125.81700576192705
India score: 129.49177911659692
Australia score: 125.70503738215368
India score: 129.2156722416607
Australia score: 126.22988738112622
India score: 129.35871540960858
Australia score: 126.51365847920488
India score: 128.4117408879636
Australia score: 125.94159826333423
India score: 129.21065503393453
Australia score: 126.48305441046725
India score: 129.671830309518
Australia score: 125.61738628727048
India score: 129.27893307495708
Australia score: 126.21135796911327
India score: 130.0776023652783
Australia score: 125.51455711377454
India score: 129.46131024957603
Australia score: 125.79736763559342
India score: 129.33960912248486
Australia score: 126.69418394444304
India score: 128.1143096998429
Australia score: 125.7068465396412
India score: 128.65587303976824
Australia score: 124.5074415845905
India score: 129.13418665569728
Australia score: 125.52330747001758
India score: 128.37582459693635
Australia score: 126.49203793519476
India score: 129.94676976914826
Australia score: 125.91244597201745
India score: 129.67794904507926
Australia score: 126.08550219783405
India score: 129.28929905850848
Australia score: 125.71856477337562
India score: 128.71874656793742
Australia score: 125.77468412300972
India score: 129.20781529760836
Australia score: 125.4600619393891
India score: 129.43924671508512
Australia score: 126.18992558804347
India score: 129.29741763329207
Australia score: 125.9804046792627
India score: 129.1176989297775
Australia score: 125.84825713462662
India score: 129.00838537137128
Australia score: 126.28239952248822
India score: 128.9048736553493
Australia score: 125.62294619384176
India score: 129.06800617798518
Australia score: 126.5422497459281
India score: 129.55056547421358
Australia score: 126.15193659890663
India score: 129.31061209482337
Australia score: 126.19255563039151
India score: 128.7796400257855
Australia score: 125.95955168427854
India score: 129.35131193057708
Australia score: 126.02428213848346
India score: 129.15839067356382
Australia score: 125.84820526580914
India score: 128.53676475672768
Australia score: 126.62822986109533
India score: 129.32155360352294
Australia score: 126.76014676267214
India score: 129.36815020698526
Australia score: 126.07948214208545
India score: 129.7352597278739
Australia score: 126.08492822104927
India score: 129.0814546129755
Australia score: 126.78408408867833
India score: 129.94112329246434
Australia score: 126.1115645334235
India score: 128.75723506611823
Australia score: 125.19407761126593
India score: 129.29977356865743
Australia score: 126.36206003135062
India score: 128.4469852982796
Australia score: 125.8842196997593
India score: 129.27662860531478
Australia score: 126.5597723282096
India score: 129.41226181281465
Australia score: 125.6541567703329
India score: 128.34001835777843
Australia score: 126.40776240750792
India score: 129.62114807557683
Australia score: 126.13973462334161
India score: 129.14998484500157
Australia score: 125.90890734542373
India score: 129.36741218742512
Australia score: 125.93772806157328
India score: 129.9569443497356
Australia score: 125.83955568537039
India score: 129.64866373060002
Australia score: 126.73488039756634
India score: 128.36036855120147
Australia score: 125.28334446187361
India score: 129.44471861081772
Australia score: 125.64279746051703
India score: 129.2611148711595
Australia score: 125.93477159992962
India score: 129.44480471109267
Australia score: 125.99267846895502
India score: 129.69460866440446
Australia score: 126.5679918411727
India score: 129.21105922111863
Australia score: 126.01638926904812
India score: 129.3405941261008
Australia score: 125.62003462534707
India score: 128.50691385065974
Australia score: 126.02469523098861
India score: 128.19674321039545
Australia score: 126.63280055980188
India score: 129.88127736388967
Australia score: 125.82617064007061
India score: 129.7443026563623
Australia score: 126.07024035616566
India score: 129.5888666525335
Australia score: 126.16620599288157
India score: 128.90535764021828
Australia score: 125.76346108754913
India score: 129.70656444040472
Australia score: 126.61070685118708
India score: 129.71871125457338
Australia score: 125.85519212283755
India score: 129.38724631520014
Australia score: 125.26194282798139
India score: 128.7112049439795
Australia score: 126.38587299205261
India score: 129.1995154851769
Australia score: 125.1434630280924
India score: 128.93194597969682
Australia score: 126.01937618867001
India score: 128.88048054043918
Australia score: 125.58150173138394
India score: 129.42832107774876
Australia score: 125.5261026438636
India score: 129.27804052473573
Australia score: 126.04184207380779
India score: 130.04574976636727
Australia score: 125.97795316391266
India score: 129.918090492298
Australia score: 127.13622513878607
India score: 129.0273530769227
Australia score: 125.6135931418869
India score: 129.1775803773008
Australia score: 126.34357573182339
India score: 130.25851055117718
Australia score: 125.87161351948612
India score: 129.35003367288067
Australia score: 125.80844529952023
India score: 129.07802713456792
Australia score: 126.11981870323486
India score: 129.51823626943087
Australia score: 125.57120093253234
India score: 128.68875309975678
Australia score: 126.55277548249008
India score: 129.4932651596855
Australia score: 126.7999646161237
India score: 128.78676341682032
Australia score: 126.72030446477683
India score: 128.691674071113
Australia score: 126.5249543646486
India score: 128.88941221502992
Australia score: 126.38178299311946
India score: 129.46101400142962
Australia score: 127.0897476541775
India score: 129.62606366760983
Australia score: 126.19022351595217
India score: 129.2549938808504
Australia score: 126.59403756767337
India score: 129.49975738697174
Australia score: 126.0629626912214
India score: 128.79897638971408
Australia score: 126.1530732425814
India score: 129.676870986309
Australia score: 126.28485572276263
India score: 128.25837275990358
Australia score: 125.84051969784417
India score: 129.81927221041443
Australia score: 125.94929026307533
India score: 129.16642249332403
Australia score: 125.80583801782268
India score: 129.78955564103973
Australia score: 125.83688141102986
India score: 129.30116344621823
Australia score: 124.90205692376433
India score: 129.57229743474986
Australia score: 126.55494860737635
India score: 129.26772344504656
Australia score: 126.07996079549571
India score: 129.54014173118387
Australia score: 124.84987789042302
India score: 129.51133890069568
Australia score: 125.89739348941015
India score: 129.27826850595562
Australia score: 125.93133412053749
India score: 128.0830422036163
Australia score: 126.18083219220289
India score: 129.18088094485785
Australia score: 127.07402559226561
India score: 129.08893734590134
Australia score: 125.70837307754881
India score: 128.95958020569572
Australia score: 126.41471475539706
India score: 129.1514466392181
Australia score: 126.73713214609643
India score: 129.38544150696745
Australia score: 125.97692959285328
India score: 129.67618562026664
Australia score: 125.78394764039068
India score: 129.68791734078187
Australia score: 125.186696649786
India score: 129.13367355262756
Australia score: 126.35319509108056
India score: 129.67729000697125
Australia score: 125.91248951398721
India score: 129.2066025646477
Australia score: 126.0892151207564
India score: 128.79077221256114
Australia score: 126.48034653820085
India score: 129.5056360452481
Australia score: 126.71874126068822
India score: 130.13105594891485
Australia score: 126.42176522190921
India score: 129.0657451725777
Australia score: 126.21158336882972
India score: 129.95838790884204
Australia score: 126.1818067304169
India score: 129.51867675541564
Australia score: 126.7452719974341
India score: 129.58669214286482
Australia score: 126.55547377632875
India score: 129.0018410757461
Australia score: 126.52770733728333
India score: 129.41743973741146
Australia score: 125.35251354919006

India score: 128.68353088277559
Australia score: 125.39215080428625
India score: 129.66015406775006
Australia score: 125.32379738452018
India score: 128.98966431402968
Australia score: 125.69665651117386
India score: 129.2452353757187
Australia score: 125.97504261288543
India score: 128.12180150462
Australia score: 125.47443980265379
India score: 128.50094647983258
Australia score: 126.13709917636595
India score: 129.27823426438144
Australia score: 125.92640866792209
India score: 128.66760748931011
Australia score: 124.99245316663931
India score: 129.56119899428614
Australia score: 125.74190759096429
India score: 129.24835233391462
Australia score: 125.71186079194791
India score: 129.2351018856858
Australia score: 126.70814752061227
India score: 129.1259250438212
Australia score: 126.01867198722375
India score: 129.73878214337904
Australia score: 126.22627842372846
India score: 129.3474797519251
Australia score: 125.93415853337635
India score: 129.39577340403207
Australia score: 126.10646616299618
India score: 129.08764147533697
Australia score: 125.77435435119331
India score: 129.05639020043995
Australia score: 125.94201410816613
India score: 128.93078703187624
Australia score: 125.89807149144855
India score: 128.80009367717838
Australia score: 126.055646052598
India score: 128.70509310125672
Australia score: 126.01062965416115
India score: 129.82009410803335
Australia score: 126.51985239790112
India score: 129.243920818586
Australia score: 125.25081282509309
India score: 129.60171785529425
Australia score: 126.30220845018717
India score: 129.4670054004667
Australia score: 125.82424436767326
India score: 129.82037269153466
Australia score: 126.75596307004822
India score: 127.66197533907498
Australia score: 125.62946909811606
India score: 129.1764126173083
Australia score: 126.39567416956221
India score: 130.0120077342977
Australia score: 125.50129615147746
India score: 129.38592778094235
Australia score: 126.68084692266986
India score: 129.3937329583266
Australia score: 126.14812145629315
India score: 128.73585900113625
Australia score: 125.07718918334434
India score: 129.31002001386662
Australia score: 126.31584661970496
India score: 128.74610931655957
Australia score: 127.11306109542578
India score: 129.59404847713463
Australia score: 126.02530073066163
India score: 129.71526632216694
Australia score: 126.17352139303084
India score: 129.22407290820462
Australia score: 126.37808650469724
India score: 129.85502303577533
Australia score: 126.49553148448229
India score: 128.80839350647497
Australia score: 126.60835992349753
India score: 129.06268932804977
Australia score: 126.18019901025862
India score: 129.64915680938947
Australia score: 127.01180313367992
India score: 129.69349857116603
Australia score: 126.33665184915303
India score: 129.1841089644934
Australia score: 127.23024495874351
India score: 128.79647029449782
Australia score: 126.50637352468213
India score: 129.7699422922745
Australia score: 126.97887589650298
India score: 128.91109608192818
Australia score: 126.86235364439382
India score: 129.2974732217455
Australia score: 125.80087462217935
India score: 128.79013297554053
Australia score: 126.65959354632146
India score: 129.01007870136687
Australia score: 125.87748762896722
India score: 128.8401372028481
Australia score: 126.55892511822917
India score: 128.09875976164008
Australia score: 126.03951911464365
India score: 129.54528812949934
Australia score: 127.1618409114716
India score: 129.2017157478538
Australia score: 125.66202874527033
India score: 129.26211278253695
Australia score: 126.67396352595269
India score: 129.5857159563974
Australia score: 125.54319590661072
India score: 129.20196880367587
Australia score: 125.51516766390125
India score: 129.8439606128645
Australia score: 125.16269484778287
India score: 128.6315877109408
Australia score: 126.13630265913719
India score: 129.59401287457547
Australia score: 126.29432358920617
India score: 129.3292631070236
Australia score: 126.6014624266782
India score: 129.47066391076388
Australia score: 125.98793463649825
India score: 129.2945679842533
Australia score: 126.4585931839596
India score: 129.16880391809318
Australia score: 126.84226156233251
India score: 129.5063822290324
Australia score: 125.60519871491684
India score: 129.20281554096545
Australia score: 126.05907743834464
India score: 129.49455447139806
Australia score: 126.58694392216138
India score: 129.27690630472483
Australia score: 125.26884897944655
India score: 129.91839125410036
Australia score: 125.88285533531318
India score: 129.43130627329768
Australia score: 126.24454876913627
India score: 130.17092654961874
Australia score: 125.92413557374105
India score: 129.16847180160417
Australia score: 125.35279430520976
India score: 128.78090674818955
Australia score: 127.44389861423764
India score: 129.36823851750154
Australia score: 126.03386569468655
Proportion that India won: 1.0

In [ ]:
# TODO: Loop through teams list to simulate matches