In [57]:
import pandas as pd
import numpy as np

merge = pd.read_csv('merged_files.csv')
print(merge.head())
merge.dtypes

   Unnamed: 0  match_id season  start_date          venue  innings  ball  \
0           0    211028   2005  2005-06-13  The Rose Bowl        1   0.1
1           1    211028   2005  2005-06-13  The Rose Bowl        1   0.2
2           2    211028   2005  2005-06-13  The Rose Bowl        1   0.3
3           3    211028   2005  2005-06-13  The Rose Bowl        1   0.4
4           4    211028   2005  2005-06-13  The Rose Bowl        1   0.5

  batting_team bowling_team         striker  ... bowler runs_off_bat  extras  \
0      England    Australia  ME Trescothick  ...  B Lee            0       0
1      England    Australia  ME Trescothick  ...  B Lee            1       0
2      England    Australia        GO Jones  ...  B Lee            0       0
3      England    Australia        GO Jones  ...  B Lee            0       0
4      England    Australia        GO Jones  ...  B Lee            0       0

   wides  noballs  byes  legbyes  penalty  wicket_type player_dismissed
0    NaN      NaN   NaN      NaN      NaN          NaN              NaN
1    NaN      NaN   NaN      NaN      NaN          NaN              NaN
2    NaN      NaN   NaN      NaN      NaN          NaN              NaN
3    NaN      NaN   NaN      NaN      NaN          NaN              NaN
4    NaN      NaN   NaN      NaN      NaN          NaN              NaN

[5 rows x 21 columns]

Unnamed: 0            int64
match_id              int64
season               object
start_date           object
venue                object
innings               int64
ball                float64
batting_team         object
bowling_team         object
striker              object
non_striker          object
bowler               object
runs_off_bat          int64
extras                int64
wides               float64
noballs             float64
byes                float64
legbyes             float64
penalty             float64
wicket_type          object
player_dismissed     object
dtype: object

In [58]:
# read in text file
with open('teams.txt') as file:
    teams_list = file.read().splitlines()
print(teams_list)

['United States', 'West Indies', 'Australia', 'England', 'India', 'Netherlands', 'New Zealand', 'Pakistan', 'South Africa', 'Sri Lanka', 'Afghanistan', 'Bangladesh', 'Ireland', 'Scotland', 'Papua New Guinea', 'Canada', 'Nepal', 'Oman', 'Namibia', 'Uganda']

In [59]:
# index through to get only rows that match text file
# here, we get only plays from teams participating in the 2024 World Cup
df = merge.loc[(merge['bowling_team'].isin(teams_list)) | (merge['batting_team'].isin(teams_list))]
print(df, df.shape)

        Unnamed: 0  match_id   season  start_date                    venue  \
0                0    211028     2005  2005-06-13            The Rose Bowl
1                1    211028     2005  2005-06-13            The Rose Bowl
2                2    211028     2005  2005-06-13            The Rose Bowl
3                3    211028     2005  2005-06-13            The Rose Bowl
4                4    211028     2005  2005-06-13            The Rose Bowl
...            ...       ...      ...         ...                      ...
477264         231   1412551  2023/24  2024-01-02  Sharjah Cricket Stadium
477265         232   1412551  2023/24  2024-01-02  Sharjah Cricket Stadium
477266         233   1412551  2023/24  2024-01-02  Sharjah Cricket Stadium
477267         234   1412551  2023/24  2024-01-02  Sharjah Cricket Stadium
477268         235   1412551  2023/24  2024-01-02  Sharjah Cricket Stadium

        innings  ball batting_team          bowling_team             striker  \
0             1   0.1      England             Australia      ME Trescothick
1             1   0.2      England             Australia      ME Trescothick
2             1   0.3      England             Australia            GO Jones
3             1   0.4      England             Australia            GO Jones
4             1   0.5      England             Australia            GO Jones
...         ...   ...          ...                   ...                 ...
477264        2  17.5  Afghanistan  United Arab Emirates   Najibullah Zadran
477265        2  17.6  Afghanistan  United Arab Emirates  Sharafuddin Ashraf
477266        2  18.1  Afghanistan  United Arab Emirates   Najibullah Zadran
477267        2  18.2  Afghanistan  United Arab Emirates   Najibullah Zadran
477268        2  18.3  Afghanistan  United Arab Emirates   Najibullah Zadran

        ...           bowler runs_off_bat  extras  wides  noballs  byes  \
0       ...            B Lee            0       0    NaN      NaN   NaN
1       ...            B Lee            1       0    NaN      NaN   NaN
2       ...            B Lee            0       0    NaN      NaN   NaN
3       ...            B Lee            0       0    NaN      NaN   NaN
4       ...            B Lee            0       0    NaN      NaN   NaN
...     ...              ...          ...     ...    ...      ...   ...
477264  ...       Ali Naseer            1       0    NaN      NaN   NaN
477265  ...       Ali Naseer            0       0    NaN      NaN   NaN
477266  ...  Junaid Siddique            2       0    NaN      NaN   NaN
477267  ...  Junaid Siddique            6       0    NaN      NaN   NaN
477268  ...  Junaid Siddique            6       0    NaN      NaN   NaN

        legbyes  penalty  wicket_type player_dismissed
0           NaN      NaN          NaN              NaN
1           NaN      NaN          NaN              NaN
2           NaN      NaN          NaN              NaN
3           NaN      NaN          NaN              NaN
4           NaN      NaN          NaN              NaN
...         ...      ...          ...              ...
477264      NaN      NaN          NaN              NaN
477265      NaN      NaN          NaN              NaN
477266      NaN      NaN          NaN              NaN
477267      NaN      NaN          NaN              NaN
477268      NaN      NaN          NaN              NaN

[332807 rows x 21 columns] (332807, 21)

In [63]:
# use only data from 2020 onward (last 4 years)
df[['start-year', 'start-day', 'start-month']] = df['start_date'].str.split('-', expand=True)
df = df[df['start-year'].astype(int) >= 2020]
df = df.drop(['start-year', 'start-day', 'start-month'], axis=1)
df.head()

,Unnamed: 0,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,...,bowler,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed
169922,0,1185313,2019/20,2020-02-12,Buffalo Park,1,0.1,South Africa,England,T Bavuma,...,MM Ali,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169923,1,1185313,2019/20,2020-02-12,Buffalo Park,1,0.2,South Africa,England,Q de Kock,...,MM Ali,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169924,2,1185313,2019/20,2020-02-12,Buffalo Park,1,0.3,South Africa,England,T Bavuma,...,MM Ali,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169925,3,1185313,2019/20,2020-02-12,Buffalo Park,1,0.4,South Africa,England,Q de Kock,...,MM Ali,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169926,4,1185313,2019/20,2020-02-12,Buffalo Park,1,0.5,South Africa,England,Q de Kock,...,MM Ali,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
# TODO: get stats from dataframe on a per-player basis
#   make sure player names match those in dataframe
#   seems that all but last name are abbreviated
#   if obtaining players by last name only, make sure players are counted correctly

"""with open('players.txt') as file:
    players_list = file.read().splitlines()"""

"with open('players.txt') as file:\n    players_list = file.read().splitlines()"

In [62]:
"""
# TO ADDRESS:
# some players' names abbreviated in csv
# not all players have same name length
df_try = df['bowler'].str.split(' ', expand=True)
print(df_try.loc[df_try.notna().all(axis=1)])
"""

# Example to get all balls from a certain bowler
df_ls = df.loc[df['bowler'] == 'LS Livingstone']
print(df_ls, df_ls.shape)
num_matches = len(pd.unique(df_ls['match_id']))

        Unnamed: 0  match_id   season  start_date  \
223781          49   1239540     2021  2021-07-16
223782          50   1239540     2021  2021-07-16
223783          51   1239540     2021  2021-07-16
223784          52   1239540     2021  2021-07-16
223785          53   1239540     2021  2021-07-16
...            ...       ...      ...         ...
413052          69   1373581  2023/24  2023-12-16
413053          70   1373581  2023/24  2023-12-16
413054          71   1373581  2023/24  2023-12-16
413055          72   1373581  2023/24  2023-12-16
413056          73   1373581  2023/24  2023-12-16

                                                 venue  innings  ball  \
223781                        Trent Bridge, Nottingham        1   8.1
223782                        Trent Bridge, Nottingham        1   8.2
223783                        Trent Bridge, Nottingham        1   8.3
223784                        Trent Bridge, Nottingham        1   8.4
223785                        Trent Bridge, Nottingham        1   8.5
...                                                ...      ...   ...
413052  National Cricket Stadium, St George's, Grenada        1  11.4
413053  National Cricket Stadium, St George's, Grenada        1  11.5
413054  National Cricket Stadium, St George's, Grenada        1  11.6
413055  National Cricket Stadium, St George's, Grenada        1  11.7
413056  National Cricket Stadium, St George's, Grenada        1  11.8

       batting_team bowling_team          striker  ...          bowler  \
223781     Pakistan      England       Babar Azam  ...  LS Livingstone
223782     Pakistan      England       Babar Azam  ...  LS Livingstone
223783     Pakistan      England       Babar Azam  ...  LS Livingstone
223784     Pakistan      England  Mohammad Rizwan  ...  LS Livingstone
223785     Pakistan      England  Mohammad Rizwan  ...  LS Livingstone
...             ...          ...              ...  ...             ...
413052  West Indies      England         R Powell  ...  LS Livingstone
413053  West Indies      England         R Powell  ...  LS Livingstone
413054  West Indies      England         R Powell  ...  LS Livingstone
413055  West Indies      England         N Pooran  ...  LS Livingstone
413056  West Indies      England         R Powell  ...  LS Livingstone

       runs_off_bat  extras  wides  noballs  byes  legbyes  penalty  \
223781            0       0    NaN      NaN   NaN      NaN      NaN
223782            2       0    NaN      NaN   NaN      NaN      NaN
223783            1       0    NaN      NaN   NaN      NaN      NaN
223784            0       0    NaN      NaN   NaN      NaN      NaN
223785            4       0    NaN      NaN   NaN      NaN      NaN
...             ...     ...    ...      ...   ...      ...      ...
413052            0       1    1.0      NaN   NaN      NaN      NaN
413053            0       1    1.0      NaN   NaN      NaN      NaN
413054            1       0    NaN      NaN   NaN      NaN      NaN
413055            1       0    NaN      NaN   NaN      NaN      NaN
413056            1       0    NaN      NaN   NaN      NaN      NaN

        wicket_type player_dismissed
223781          NaN              NaN
223782          NaN              NaN
223783          NaN              NaN
223784          NaN              NaN
223785          NaN              NaN
...             ...              ...
413052          NaN              NaN
413053          NaN              NaN
413054          NaN              NaN
413055          NaN              NaN
413056          NaN              NaN

[390 rows x 21 columns] (390, 21)